<div class="card" style="width: 18rem;">
  <img src="{{this.image}}" class="card-img-top" alt="{{this.item}}">
  <div class="card-body">
    <h5 class="card-title">{{this.item}}</h5>
    <p class="card-text">Operation: {{this.operation}}</p>
    <p class="card-text">Location: {{this.location}}</p>
    <div class="buttons-container-item-card">
      <a href="/{{ this._id }}" class="btn btn-primary">Details</a>
      <a href="/{{ this._id }}/item-edit" class="btn btn-primary">Edit</a>
      <form action="/{{ this._id }}/delete" method="POST">
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>     
    </div>
  </div>
</div>