<div>
  <h4>{{this.item}}</h4>
  
  <div class="image">
  <img src="{{this.image}}" alt="{{this.item}}" >
  </div>

  <p>Operation: {{this.operation}}</p>
  <p>Location:</p>
  
  <button><a href="/{{ this._id }}">Show details</a></button>

  </form>

</div>