
<div>
  
  <h4>{{this.item}}</h4>
  
  <div class="image">
  <img src="{{this.image}}" alt="{{this.item}}" >
  </div>

  <p>Operation: {{this.operation}}</p>
  <p>Location:</p>
  
  <button><a href="/{{ this._id }}">Show details</a></button>

  <div>
    <button><a href="/{{ this._id }}/item-edit">Edit Item</a></button>
  
    <form action="/{{ this._id }}/delete" method="POST">
    <button type="submit">Delete an Item</button>   
  </div>

  </form>

</div>
