

<div class="card" style="width: 18rem;">
  <img src="{{itemDB.image}}" alt="{{itemDB.name}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{itemDB.name}}</h5>
  </div>


  <ul class="list-group list-group-flush">
    <li class="list-group-item">Category: {{itemDB.category}}</li>
    <li class="list-group-item">Operation: {{itemDB.operation}}</li>
    <li class="list-group-item">Description: {{itemDB.description}}</li>
  
    <li class="list-group-item">
      Contact information: {{#if userInSession}}{{userFromDB.email}}{{else}}<strong>Please <a href="/signin">log in</a> to be able to see the contact information</strong>{{/if}}</li>
    <li class="list-group-item">Location: {{itemDB.location}}</li>
  </ul>

      {{#if profileOwner}}

  <div class="card-body">
      <button class="btn btn-primary" id="submit-button"><a href="/{{ itemDB._id }}/item-edit">Edit Item</a></button>  
        <form action="/{{ itemDB._id }}/delete" method="POST">
      <button class="btn btn-primary" id="submit-button" type="submit">Delete an Item</button>       
  </div>
    {{/if}}
</div>

<strong>Location</strong>

  <span id ="google-key" style="display: none;">{{google_key}}</span>
  <span id ="lat" style="display: none;">{{itemDB.lat}}</span>
  <span id ="lng" style="display: none;">{{itemDB.lng}}</span>

  <div id="map">{{map}}</div>


<script src="https://maps.googleapis.com/maps/api/js?key={{google_key}}"></script>
<script src="/javascripts/mapGenerator.js"></script>