<div>
    {{> searchBar}}
</div>

{{> categoriesPartial}}


<h4>{{itemDB.item}}</h4>

<p>
  <strong>Category:</strong>
  {{itemDB.category}}
</p>

<p>
  <strong>Image:</strong>
  <br>  
  <img src="{{itemDB.image}}" alt="">
</p>

<p>
  <strong>Description</strong>
  {{itemDB.description}}
</p>


<p>
  <strong>Operation</strong>
  {{itemDB.operation}}
</p>

<p>
  <strong>Location</strong>

  <span id ="google-key" style="display: none;">{{google_key}}</span>
  <span id ="lat" style="display: none;">{{itemDB.lat}}</span>
  <span id ="lng" style="display: none;">{{itemDB.lng}}</span>

  <div id="map">{{map}}</div>

  {{itemDB.location}}

</p>

<p>
  <strong>Contact information: </strong>

{{#if userInSession}}
  {{userFromDB.email}}

{{else}}

<strong>Please <a href="/signin">log in</a> to be able to see the contact information</strong>

{{/if}}
</p>

<br>

      {{#if profileOwner}}

      <div>
        <button class="btn btn-primary" id="submit-button"><a href="/{{ itemDB._id }}/item-edit">Edit Item</a></button>  
        <form action="/{{ itemDB._id }}/delete" method="POST">
        <button class="btn btn-primary" id="submit-button" type="submit">Delete an Item</button>   
      </div>
      
      {{/if}}

<br>

<script src="https://maps.googleapis.com/maps/api/js?key={{google_key}}"></script>
<script src="/javascripts/mapGenerator.js"></script>