
<h2>{{itemDB.item}}</h2>

<p>
  <strong>Category:</strong>
  {{itemDB.category}}
</p>

<p>
  <strong>Image:</strong>
  <br>  
  <img src="{{itemDB.image}}" alt="">
</p>

<p>
  <strong>Description</strong>
  {{itemDB.description}}
</p>


<p>
  <strong>Operation</strong>
  {{itemDB.operation}}
</p>


<br>

<button><a href="{{itemDB._id}}/item-edit">Edit an Item</a></button>

<br>