
<h2>{{itemDB.item}}</h2>

<p>
  <strong>Category:</strong>
  {{itemDB.category}}
</p>

<p>
  <strong>Image:</strong>
  <br>  
  <img src="{{itemDB.image}}" alt="">
</p>

<p>
  <strong>Description</strong>
  {{itemDB.description}}
</p>


<p>
  <strong>Operation</strong>
  {{itemDB.operation}}
</p>

<p>
  <strong>Location</strong>

  <span id ="google-key" style="display: none;">{{google_key}}</span>
  <span id ="lat" style="display: none;">{{itemDB.lat}}</span>
  <span id ="lng" style="display: none;">{{itemDB.lng}}</span>

  <div id="map">{{map}}</div>

  {{itemDB.location}}

</p>

<p>
  <strong>Contact information</strong>
  {{userFromDB.email}}
</p>

<br>

      {{#if profileOwner}}

      <div>
        <button><a href="/{{ itemDB._id }}/item-edit">Edit Item</a></button>  
        <form action="/{{ itemDB._id }}/delete" method="POST">
        <button type="submit">Delete an Item</button>   
      </div>
      
      {{/if}}

<br>

<script src="https://maps.googleapis.com/maps/api/js?key={{google_key}}"></script>
<script src="/javascripts/mapGenerator.js"></script>